{% extends 'base.html' %}
{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'aboutUs.css' %}" type="text/css" />
  <title>Sobre Nós</title>
</head>
<body>
    <div class="estilo">
        <h2>Nossa missão</h2>
        <p>Fundada em 2023, a SinalizaLibra tem como principal objetivo colaborar com uma melhor inclusão na sociedade daqueles que dependem de LIBRAS para se comunicar. Assim, buscamos simplificar, incentivar e facilitar o aprendizado da Linguagem Brasileira de Sinais para todos os interessados, de forma acessível e inovadora.</p>

        <h2>Nossos valores</h2>
        <p>A nossa abordagem é orientada por valores fundamentados na igualdade de oportunidades, no respeito e na diversidade. Valorizamos a singularidade de cada membro e empenhamo-nos em promover um ambiente educacional de excelência, incessantemente buscando melhorar a qualidade e eficácia do nosso ensino.</p>

        <h2>Nosso meio</h2>
        <p>Montamos uma plataforma de aprendizado e certificação, conectando aqueles que têm interesse de aprender com aqueles que têm interesse de ensinar e alcançamos isso de diversas formas. Oferecemos um ensino de qualidade por meio de videoaulas e quizes para estudantes de todos os níveis, desde iniciantes até aqueles se aproximando da fluência. Trabalhamos com instituições como universidades e faculdades no constante objetivo de incentivar e divulgar o ensino de LIBRAS. Também temos como objetivo disponibilizar certificação profissional e valorizar o conhecimento daqueles já fluentes na linguagem.</p>
    </div>

</body>
</html>

{% endblock %}
