{% extends 'base.html' %}
{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'videoAulas.css' %}" type="text/css" />
  <title>Video Aulas</title>
</head>
<body>

  <div class="estilo">
    <h2>Videoaulas</h2>

    <p>Iniciante:</p>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/UBVC0oqkd3c">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/-ZDkdbPqUZg">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/cAYXIMJm3Ao">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/sntDyFlilGE">
    </iframe>


    <p>Intermediário:</p>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/Voc1vDfZR4c">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/u2HfaiHEO_g">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/SW3uzuFG_o0">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/0LF6vgqDcVM">
    </iframe>


    <p>Avançado:</p>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/Bnq0r6onc1g">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/FEZpDY_0XhI">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/SUdgqns8zJo">
    </iframe>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/9zS7NlvFpCU">
    </iframe>

  </div>

</body>
</html>

{% endblock %}