{% extends "base.html" %}
{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'login.css' %}" type="text/css" />
  <title>Login</title>
</head>
<body>

  {% if form.errors %}
    <p>Seu nome de usuário e senha não corresponderam. Por favor tente novamente.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Sua conta não tem acesso a essa página. Para continuar, faça login com uma conta que tem acesso.</p>
    {% else %}
      <p>Faça login para ver essa página.</p>
    {% endif %}
  {% endif %}

<div>
  <h2>Entre na sua Conta</h2>
</div>

<div class="container">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
</div>

</body>
</html>
  
{% endblock %}